.p{
    color:indigo;
    font-size: 20pt;
}
.cabecario{
    width: 100%;
    position: relative;
    height: 100px;
    top: 3px;
    font-size: 30px;
    border: 5px solid blue  ;
    left: 3px;
    background-color: bisque;
}
.cabecario_img{
    height: 150px;
}
.h1_1{
    color: darkgreen;
}
.display_1{
    display: inline;
}

.img{
    height: 300px;
    display: inline;
}
.body{
    color: lightgray;
}
.titulo_1{
    text-align: center;
}