p{
    font-size: 15pt;
}

li{
    font-size: 15pt;
    color:black
}

a{
    font-size: 15pt;
    color: black;
}
body{
    background-color:lightskyblue;
}

a:hover{
  
    color:white;
}

.tag_red{
    color:darkred
}

#p1{
    font-size: 30pt;
}

#borderimg{
    border: 10px solid; 
}

.img1{
    width: fit-content;
    margin:0 auto;
    border-radius: 15px;
}

.map{
    border: 10px solid; 
    width: fit-content;
    border-radius: 6px;
}

.borda{
    border: 10px solid;
}