body{
    background-color: bisque;
}

.post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.sucesso_post{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}