<!DOCTYPE html>
<html >
<head>
    <title>Login </title>
    <meta charset="UTF-8">
    <link href="estilo.css" rel="stylesheet">
  
</head>
<body>
   <h1> <%= status %></h1>
   <a href="lab/lab10/pagina_principal.html">Pagina Principal</a>

   
</body>
</html>