<!DOCTYPE html>
<html >
<head>
    <title>Página Principal</title>
    <meta charset="UTF-8">
    <link href="estilo.css" rel="stylesheet"> 
</head>
<body>
    <div class="login"> 
        <h1> Login realizado com sucesso</h1>
        <h2> Bem vindo !</h2>

    </div>
</body>
</html>