<!DOCTYPE html>
<html >
<head>
    <title>Página Principal</title>
    <meta charset="UTF-8">
    <link href="lab8.css" rel="stylesheet"> 
</head>
<body>
    <h1> Bem vindo, <%= nome %> !</h1>
</body>
</html>