body{
    background-color: bisque;
 }
.principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
   
} 
.cadastro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
   

}

.correto{
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
   
}

.incorreto{
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
   
}